 html, body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('assets/images/CFCST.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 20px;
    }

    .card {
      animation: fadeIn 1s ease-in-out;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      border-radius: 12px;
      width: 100%;
      max-width: 360px;
      padding: 25px 20px;
      background-color: white;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-30px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .logo-img {
      height: 80px;
    }

    .form-control {
      font-size: 15px;
      padding: 10px 15px;
    }

    .button1 {
      background-color: white;
      color: black;
      border: 2px solid #d6a92b;
      transition: 0.3s ease;
    }

    .button1:hover {
      background-color: #d6a92b;
      color: white;
    }

    .text-small {
      font-size: 14px;
    }
